body {
    padding: 30px 30px 0px 30px;

}

header {
    background: lightblue;
}

section {
    background: lightgreen;
    width: 75%;
}

article {
    background: white;
    margin: 0 0 1rem 0;
}

aside {
    display: flex;
    background: pink;
    width: 25%;
    align-self: end;
}

header, article, section, .module {
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
}